/* Notice */
span.notice { padding: 20px 2px; float: right; }
span.notice.oops { color: red; }
span.notice.success { color: green; }
/* Sals Form */
form.salsa-form label.oops { color: red;  } 
/* Signup Widget */
div.signup_widget { margin: 10px 0 100px; } 
div.signup_widget h1 { white-space: normal !important; } 
div.signup_widget form.salsa-form { width: auto; } 
div.signup_widget form.salsa-form label { display: block; } 